BOLD_Public.26-Sep-2025/
taxonkit_input.tsv
releases/
boldkit/dist
boldkit/binaries
bold-taxdump/
classifier_outputs/
marker_fastas/

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/
coverage.out
coverage.html

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db