BOLD_Public.*.parquet
BOLD_Public.*.tsv
BOLD_Public.*.tsv.gz
boldkit.wiki/
taxonkit_input.tsv
releases/
boldkit/dist
boldkit/binaries
bold-taxdump/
classifier_outputs/
marker_fastas/

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/
coverage.out
coverage.html

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
